<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%  static  'css/questions.css'  %}">
    <title>Class | Questions</title>
    <style>

    </style>


</head>

<body>
    <!-- navigation starts -->

    <div class="navbar">
        <h1>Questions</h1>
        <button onclick="myFunction()">return</button>
    </div>
    <hr class="nav-separator">

    <!-- navigation ends -->
    <h2 style="text-align:center"></h2>

    <!-- card -->

    <div class="container">

        {% for question in questions %}
        <div class="card">
            <img src="{{ question.Student.image.url }}" alt="student pic">
            <div class="namePlate">
                <h3 class="name">{{ question.Student.First_name }} {{ question.Student.Last_name }}</h2>
                    <div class="smallbox">
                        <p>Student</p>
                    </div>
            </div>
            <hr>

            <h3 style="margin-bottom: 10px;"> <span>Topic:</span>  {{ question.Class_Metarials.title }}</h3>

            {% if question.Written and question.Written.strip %}
            <p>{{ question.Written }}</p>
            {% endif %}

            {% if question.Check and question.Check.strip %}
            <audio style="margin-top: 10px;" src="{{ question.Voice.url }}" controls type="audio/mp3"> </audio>
            {% endif %}
        </div>
    {% endfor %}

    </div>
<script type="text/javascript">
function myFunction(){
    window.location.href="{% url 'portf:teacher-home' %}"
}

</script>


</body>

</html>